<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <div class="container p-3"  >
      <h1>Edit account info.</h1>
      <a href="/read">All users</a>
       <hr>
       
       <small>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa praesentium consequatur architecto delectus voluptate soluta, itaque possimus neque asperiores rerum consequuntur quod aperiam omnis ducimus? Aut ea ducimus doloribus quia?
       </small>
    

  
       <form class="mt-3" action="/update/<%= user.id %>" method="post">
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">name </label>
          <input name="name" type="text" class="form-control" id="exampleInputPassword1" value="<%= user.username %>">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= user.email %>">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Photo</label>
          <input name="photu" type="text" class="form-control" id="exampleInputPassword1" value="<%= user.photu %>">
        </div>
        
        <button type="submit" class="btn btn-warning">Update Info.</button>
      </form>
  
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
